---
---

@import "{{ site.theme }}";

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

header {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size:10px;
}

header h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	width:940px;
}

@media only screen and (min-width: 768px) and (max-width: 959px){
	header h1 {
		font-family: 'Helvetica Neue', Helvetica, Arial, serif;
		width:740px;
	}
}

@media only screen and (max-width: 767px){
	header h1 {
		font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        width:100%
	}
}

header h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  width:940px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content {
  display: inline-block;
  width:940px
}
}

#main-content h1{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size:30px;
  font-weight:bold;
}

#main-content h2{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h3{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h4{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h5{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h6{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

aside {
  display: none !important;
}
